.label{
    -fx-font-family: "Cascadia Code" ;
    -fx-font-size: 18;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

#LabelSelectImageName {
    -fx-font-size: 8px !important;
}

.button{
    -fx-font-family: "Cascadia Code";
    -fx-font-weight: bold;
    -fx-background-color: LightGrey;
    -fx-background-insets: 0;
    -fx-background-radius: 10;

}

.button:hover {
    -fx-background-color: LightBlue;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.toggle-button {
    -fx-font-family: "Cascadia Code";
    -fx-font-weight: bold;
    -fx-background-color: LightGrey;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
}

.toggle-button:selected{
    -fx-background-color: #32CD32;
}

.toggle-button:hover{
    -fx-background-color: #32CD32;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.combo-box {
    -fx-pref-width: 70px;
    -fx-font-family: "Cascadia Code";
    -fx-font-weight: bold;
    -fx-background-color: LightGrey;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.combo-box .list-cell {
    -fx-font-family: "Cascadia Code";
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-background-color: transparent;
}

.combo-box:hover {
    -fx-background-color: #32CD32;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-font-size: 10;
}

.combo-box .arrow {
    -fx-background-color: black;
}

.combo-box.selected-choice {
    -fx-background-color: #32CD32;
}

.combo-box-popup .list-view {
    -fx-background-color: LightGrey;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-pref-height: 90px;
    -fx-pref-width: 70px;
}

.combo-box-popup .list-view .list-cell {
    -fx-font-family: "Cascadia Code";
    -fx-font-size: 10px;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-background-color: LightGrey;
}

.combo-box-popup .list-view .list-cell:hover,
.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #32CD32;
    -fx-text-fill: black;
    -fx-background-radius: 8;
}

.combo-box > .arrow-button {
    -fx-padding: 0 2 0 2;
    -fx-background-insets: 0;
    -fx-background-radius: 0 10 10 0;
}

#LabelSuccessConvert {
    -fx-font-family: "Cascadia Code";
    -fx-font-weight: bold;
    -fx-text-fill: #32CD32;
    -fx-font-size: 10px;
}

.combo-box{
    -fx-pref-height: 22px;
}
